
#waves {
    position: absolute;
    left: 350px;
    top: 200px;
    border: 1px solid black;
    height: 600px;
    width: 300px;
    background-color: white;
    overflow: hidden;
    animation: moveup 2.5s ease-in-out forwards infinite;
    animation-play-state: paused;
}

#feet {
    width: 70px;
    position: absolute;
    top: 275px;
    left: 115px;
    cursor: pointer;
}

#emerald {
    position: relative;
    width: 650px;
    top: 500px;
    left: -70px;
}

#blue {
    position: relative;
    width: 650px;
    top: 20px;
    left: -120px;
}

#purple {
    position: relative;
    width: 1050px;
    top: -500px;
    left: -400px;
}

@keyframes moveup {
    0%{transform: scale(1);}
    50%{transform: scale(1.5);}
    100%{transform:(2);}
}